.page-index{
  background-color: #FFF;
  overflow-x: hidden;
  .pages{
    background: transparent;
    width: auto;
    margin: 0;
    border-radius: 0;
    padding: 0;
    overflow: unset;
    display: inline;
    min-height: 600px;
  }
  .page{
    min-height: 700px;
  }
  #page-1{
    background: url("http://i.teamkn.com/i/gOaMf1av.jpg") no-repeat 50%/cover;
    .text-wrapper{
      margin: 0;
      padding: 20px;
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      left: 15%;
      top: 33%;
      color: #fff;
      text-align: right;
      font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;

      h2{
        font-size: 40px;
        font-weight: 400;
        font-family: Raleway,Hiragino Sans GB;
        color: #FFF;
      }
    }
  }

  .image-wrapper{
    width: 65%;
    position: relative;
    top: 10%;
    /*margin-top: -256px;*/
    margin-top: 10%;
  }

  .text-wrapper{
    width: 35%;
    position: relative;
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    top: 20%;
    margin-top: 20%;
    h2{
      font-size: 32px;
      color: #666;
      font-weight: 400;
    }
    p{
      margin: 10px 0 20px;
      font-size: 16px;
      line-height: 28px;
      color: #999;
    }
    button{
      i{
        margin-left: .5em;
      }
    }
  }

  .image-wrapper-odd{
    float: right;
    background: url(https://t.alipayobjects.com/images/T1r5RkXotXXXXXXXXX.png) no-repeat 0/800px;
    height: 474px;
    top: 50%;
    /*margin-top: -266px;*/
  }

  .image-wrapper-even{
    float: left;
    background: url(https://t.alipayobjects.com/images/T1Ch8kXfpdXXXXXXXX.png) no-repeat 100%/841px;
    height: 511px;
  }

  .text-wrapper-odd{
    float: left;
    left: 10px;
    padding-left: 10%;
  }

  .text-wrapper-even{
    float: right;
    left: 10px;
  }

  .text-wrapper-bottom{
    text-align: center;
    margin: 10% auto 40px;
    h2{
      font-size: 32px;
      color: #666;
      font-weight: 400;
    }
    p{
      margin: 20px auto;
      font-size: 16px;
      line-height: 28px;
      color: #999;
    }
    button{
      i{
        margin-left: .5em;
      }
    }
  }

  .image-wrapper-bottom{
    background: url(http://i.teamkn.com/i/wcuduOf6.png) no-repeat 50%/615px;
    height: 364px;
    margin: auto;
  }
}
