.header {
  $lh: 50px;

  padding: 1rem 1.5rem;
  border-bottom: solid 1px #ddd;
  line-height: $lh;

  .header-inner {
    margin:0 auto;
    max-width: 1200px;
    overflow: hidden;

    .home {
      float: left;
      h1 {
        height: 50px;
        width: 190px;
        background: url(http://i.teamkn.com/i/kA7gv1bl.png) no-repeat center center;
        background-size: cover;
        overflow: hidden;
        line-height: 999;
        opacity: 0.8;
      }
    }

    .nav {
      float: right;
      .ant-menu {
        line-height: $lh;
      }
    }
  }
}


.app-layout{
  min-height: 500px;
}
#nav {
  float: right;
  border: 0;
  font-size: 14px;
  li{
    height: 80px;
    line-height: 80px;
    min-width: 72px;
    text-align: center;
    border-bottom-width: 3px;
  }
}
#site-name{
  line-height: 80px;
  padding-left: 20px;
  height: 80px;
}
.footer{
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee;

  text-align: center;
  a{
    margin-left: 10px;
  }
}

.main-wrapper{
  background-color: #ECECEC;
  min-height: 500px;
  padding: 10px 0;

  .wrapper{
    background-color: #FFF;
    border-radius: 6px;
    min-height: 500px;
    margin: 20px 40px;
    padding-top: 20px;
  }

  .menus{
    .ant-menu-item{
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .content{
    padding: 0 6% 120px 4%;
    color: #666;
    font-size: 14px;
    line-height: 1.8;
  }
}
