body{
  background-color: #ECECEC;
}
.header, .footer, .main-wrapper{
  background-color: #FFF;
}
.app-layout{
  min-height: 500px;
}
.main-wrapper{
  border-radius: 6px;
}
#nav {
  float: right;
  border: 0;
  font-size: 14px;
  li{
    height: 80px;
    line-height: 80px;
    min-width: 72px;
    text-align: center;
    border-bottom-width: 3px;
  }
}
#site-name{
  line-height: 80px;
  padding-left: 20px;
  height: 80px;
}
.footer{
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee;

  text-align: center;
  a{
    margin-left: 10px;
  }
}
