#nav {
  float: right;
  border: 0;
  font-size: 14px;
  li{
    height: 80px;
    line-height: 80px;
    min-width: 72px;
    text-align: center;
    border-bottom-width: 3px;
  }
}
#logo{
  line-height: 48px;
}
