$content-width: 1200px;

@font-face {
  font-family: hanhei;
  src: url('/HanHei-SC-text.woff') format('woff');
}

.app-layout {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #F5F5F5;

  // font-family: '微软雅黑';
  font-family: hanhei;
  color: #333;
}

.app-layout .header {
  $lh: 50px;
  background-color: #FFF;

  padding: 1rem 1.5rem;
  line-height: $lh;
  border-bottom: solid 1px #eee;

  .header-inner {
    margin:0 auto;
    max-width: $content-width;
    overflow: hidden;
    padding: 0 1.5rem;

    .home {
      float: left;
      h1 {
        height: 50px;
        width: 190px;
        background: url(http://i.teamkn.com/i/kA7gv1bl.png) no-repeat center center;
        background-size: cover;
        overflow: hidden;
        line-height: 999;
        opacity: 0.8;
      }
    }

    .nav {
      float: right;
      .ant-menu {
        line-height: $lh;
      }
    }
  }
}


.app-layout .footer{
  border-top: 1px solid #eee;
  .inner {
    max-width: $content-width;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 3rem;
    a {
      margin-right: 1rem;
      color: #555;
    }
  }
}


.app-layout .page-index {
  min-height: 500px;

  .welcome {
    $i1: 'http://i.teamkn.com/i/tbH5OtwW.jpg';
    $i2: 'http://i.teamkn.com/i/YnIljXpF.jpg';
    $i3: 'http://i.teamkn.com/i/DwemOv1u.jpg';
    $i4: 'http://i.teamkn.com/i/pLMTtEc5.jpg';
    margin-bottom: 2rem;

    .i1 {
      background: url($i1) no-repeat center center;
    }

    .i2 {
      background: url($i2) no-repeat center center;
    }

    .i3 {
      background: url($i3) no-repeat center center;
    }

    .i4 {
      background: url($i4) no-repeat center center;
    }

    .i1, .i2, .i3, .i4 {
      background-color: #999;
      background-size: cover;
      height: 28rem;
      .inner {
        max-width: $content-width;
        margin: 0 auto;
        color: white;
        padding: 4rem 1.5rem;
        text-shadow: 0 0 10px black;
        h2 {
          font-size: 50px;
          font-family: Monaco,'Courier New', monospace, consolas;
          margin-bottom: 2rem;
        }
        .desc {
          margin-bottom: 2rem;
          font-size: 30px;
          margin-left: 1.5rem;
          opacity: 0.9;
          font-family: Monaco,'Courier New', monospace, consolas;
        }
        .desc span {
          font-family: hanhei;
        }

        button {
          margin-left: 1.5rem;
          font-size: 24px;
        }
      }
    }

    li button:before {font-size: 30px;}
  }

  .packages {
    padding: 2rem 0;
    background-color: #FFF;
    border-top: solid 1px #eee;

    .inner {
      max-width: $content-width;
      margin: 0 auto;
      padding: 0 1rem;
      overflow: hidden;
    }
  }

  .works {
    padding: 2rem 0;
    background-color: #FFF;
    border-top: solid 1px #eee;

    .inner {
      max-width: $content-width;
      margin: 0 auto;
      padding: 0 1rem;
      overflow: hidden;

      .work {
        width: percentage(1/4);
        float: left;
        padding: 0.5rem;
        .wi {
          height: 10rem;
          background-color: rgba(black, 0.5);
          position: relative;

          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;

          .c, .ct{
            position: absolute;
            top:0;left:0;right:0;bottom:0;
          }
          .c {
            opacity: 0.5;
          }
          .ct {
            padding: 1.5rem;
            color: white;
            // text-shadow: 0 0 1px black;
            a {
              display: inline-block;
              border: solid 2px white;
              padding: 0 1rem;
              font-size: 16px;
              line-height: 24px;
              color: white;
              border-radius: 5px;
              background-color: #FFF;
              color: rgba(black, 0.8);
            }
            .td {
                background-color: rgba(black, 0.5);
                margin:-1.5rem -1.5rem 0.5rem;
                padding: 0.5rem 1.5rem;
              h3 {
                font-size: 20px;
                margin-bottom: 0.2rem;
              }
              .desc {
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }

  .plans {
    padding: 2rem 0;
    // background-color: #FFF;

    .inner {
      max-width: $content-width;
      margin: 0 auto;
      padding: 0 1rem;
      overflow: hidden;

      .segment-title {
        margin-bottom: 1.5rem;
      }
      .list {
        margin:0 0.5rem;
        border-left: solid 1px #eee;
        overflow: hidden;
      }
      a.plan {
        float: left;
        width: percentage(1/4);
        height: 10.5rem;
        border: solid 1px #eee;
        border-left: 0 none;
        padding-top: 2rem;
        background-color: #FFF;
        color: #333;
        &:hover {
          background-color: lighten(#2DB7F5, 40%);
        }

        .icon {
          width: 64px; height: 64px;
          margin: 0 auto;
          border-radius: 5px;
          overflow: hidden;
        }
        .title {
          text-align: center;
          margin-top: 1rem;
          font-size: 16px;
        }
      }
    }
  }

  .segment-title {
    margin-left: 0.6rem;
    margin-bottom: 1rem;
    border-left: solid 3px rgba(#666, 0.5);
    padding-left: 1rem;
    h2 {
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 1rem;
    }
  }
}

.main-wrapper {
  background-color: #FFF;
  margin-top: 1rem;
  border-top: solid 1px #eee;
  .wrapper {
    max-width: $content-width;
    margin: 0 auto;
    min-height: 500px;
  }

  .page-intro {
    .menus {
      min-height: 500px;
      border-right: solid 1px #e9e9e9;
      padding-top: 1.5rem;
      ul {
        border-right: 0 none;
        li {
          text-align: right;
        }
      }
    }

    .content {
      padding: 1.5rem;
    }
  }
}